@media (prefers-color-scheme: dark) {
    body { background:  #333; color: white; }
  }
  
  @media (prefers-color-scheme: light) {
    body { background:  #ddd; color: black; }
  }
.sidebar{
    width: 200px;
    display: inline-flex;
}
.content{
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}
.container{
    display: flex;
    align-self: center;
    align-content: flex-start;
    height: 100%;
}